ConsoleBot/ConsoleBot/.vs/ConsoleBot/DesignTimeBuild/.dtbcache.v2
ConsoleBot/ConsoleBot/.vs/ConsoleBot/FileContentIndex/4896d0d9-f829-4aa1-be5d-534f2be7071b.vsidx
ConsoleBot/ConsoleBot/.vs/ConsoleBot/FileContentIndex/a20309fe-24cc-434d-84f7-80e4b80202e1.vsidx
ConsoleBot/ConsoleBot/.vs/ConsoleBot/FileContentIndex/b19e1192-4daa-48b6-be85-763880cac9ff.vsidx
ConsoleBot/ConsoleBot/.vs/ConsoleBot/v17/.futdcache.v2
ConsoleBot/ConsoleBot/.vs/ConsoleBot/v17/.suo
ConsoleBot/ConsoleBot/.vs/ConsoleBot/v17/DocumentLayout.json
ConsoleBot/ConsoleBot/.vs/ProjectEvaluation/consolebot.metadata.v8.bin
ConsoleBot/ConsoleBot/.vs/ProjectEvaluation/consolebot.projects.v8.bin
ConsoleBot/ConsoleBot/.vs/ProjectEvaluation/consolebot.strings.v8.bin
ConsoleBot/ConsoleBot/ConsoleBot/bin/Debug/net8.0/ConsoleBot.deps.json
ConsoleBot/ConsoleBot/ConsoleBot/bin/Debug/net8.0/ConsoleBot.dll
ConsoleBot/ConsoleBot/ConsoleBot/bin/Debug/net8.0/ConsoleBot.exe
ConsoleBot/ConsoleBot/ConsoleBot/bin/Debug/net8.0/ConsoleBot.pdb
ConsoleBot/ConsoleBot/ConsoleBot/bin/Debug/net8.0/ConsoleBot.runtimeconfig.json
ConsoleBot/ConsoleBot/ConsoleBot/obj/ConsoleBot.csproj.nuget.dgspec.json
ConsoleBot/ConsoleBot/ConsoleBot/obj/ConsoleBot.csproj.nuget.g.props
ConsoleBot/ConsoleBot/ConsoleBot/obj/ConsoleBot.csproj.nuget.g.targets
ConsoleBot/ConsoleBot/ConsoleBot/obj/project.assets.json
ConsoleBot/ConsoleBot/ConsoleBot/obj/project.nuget.cache
ConsoleBot/ConsoleBot/ConsoleBot/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ConsoleBot/ConsoleBot/ConsoleBot/obj/Debug/net8.0/apphost.exe
ConsoleBot/ConsoleBot/ConsoleBot/obj/Debug/net8.0/ConsoleBot.AssemblyInfo.cs
ConsoleBot/ConsoleBot/ConsoleBot/obj/Debug/net8.0/ConsoleBot.AssemblyInfoInputs.cache
ConsoleBot/ConsoleBot/ConsoleBot/obj/Debug/net8.0/ConsoleBot.assets.cache
ConsoleBot/ConsoleBot/ConsoleBot/obj/Debug/net8.0/ConsoleBot.csproj.BuildWithSkipAnalyzers
ConsoleBot/ConsoleBot/ConsoleBot/obj/Debug/net8.0/ConsoleBot.csproj.CoreCompileInputs.cache
ConsoleBot/ConsoleBot/ConsoleBot/obj/Debug/net8.0/ConsoleBot.csproj.FileListAbsolute.txt
ConsoleBot/ConsoleBot/ConsoleBot/obj/Debug/net8.0/ConsoleBot.dll
ConsoleBot/ConsoleBot/ConsoleBot/obj/Debug/net8.0/ConsoleBot.GeneratedMSBuildEditorConfig.editorconfig
ConsoleBot/ConsoleBot/ConsoleBot/obj/Debug/net8.0/ConsoleBot.genruntimeconfig.cache
ConsoleBot/ConsoleBot/ConsoleBot/obj/Debug/net8.0/ConsoleBot.GlobalUsings.g.cs
ConsoleBot/ConsoleBot/ConsoleBot/obj/Debug/net8.0/ConsoleBot.pdb
ConsoleBot/ConsoleBot/ConsoleBot/obj/Debug/net8.0/ref/ConsoleBot.dll
ConsoleBot/ConsoleBot/ConsoleBot/obj/Debug/net8.0/refint/ConsoleBot.dll
